# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore the merged model directory and compiled Python cache
backend/model/phi3_merged_mj/
backend/model/__pycache__/

backend/dbmj

# Ignore model files with parentheses in the name
backend/model/mj-phi3-q4_k_m\ \(1\).gguf
backend/model/mj-phi3-q4_k_m\ \(3\).gguf
backend/model/Modelfile\ \(1\)



__pycache__/
